
    <header class="header">

      <nav class="navbar navbar-expand-lg">
        <div class="container"><a class="navbar-brand"><img src="../assets/img/logo.png" alt="Apple Store"></a>
          <button type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-align-justify"></i></button>
          <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="active"><a routerLinkActive="/homepage" class="nav-link">Home</a></li>
             
             
             
              <li><a routerLink="/cart" class="nav-link cart"><i class="icon-cart-1"></i><span class="items"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="home-hero">
      <div class="container">
        <div class="row align-items-stretch">
		<img src="../assets/img/bg.jpg" alt="t-apple" class="img-fluid mx-auto d-block" style="height:420px; width:100%;">
          <div class="col-lg-6 d-flex align-items-center">

          </div>
          <div class="col-lg-6">               
            <div class="image d-none d-lg-block"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 info">
            <h2 class="heading-left">All New <br>Iphone X</h2>
            <h3>More than just a look</h3>
            <p class="lead">
             All-screen design. Longest battery life ever in an iPhone. Fastest performance. Water and splash resistant. Studio-quality photos and 4K video. More secure with Face ID. The new iPhone XR. It’s a brilliant upgrade.
            </p>
          </div>
          <div class="col-lg-6 items">
            <div class="row">
              <div class="col-md-6 feature">
                <div class="icon"><i class="icon-settings"></i></div>
                <div class="text">
                  <h4>Unique Design</h4>
                 
                </div>
              </div>
              <div class="col-md-6 feature">
                <div class="icon"><i class="icon-settings"></i></div>
                <div class="text">
                  <h4>Fastest performance.</h4>
                  
                </div>
              </div>
              <div class="col-md-6 feature">
                <div class="icon"><i class="icon-settings"></i></div>
                <div class="text">
                  <h4>Water and splash resistant.</h4>
              </div>
              </div>
              <div class="col-md-6 feature">
                <div class="icon"><i class="icon-settings"></i></div>
                <div class="text">
                  <h4>More secure with Face ID</h4>
                
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </section>
  
    <section class="big-product">
      <div class="container">
        <div class="row">
          <div class="col-md-4 product"><img src="../assets/img/iphonexs.jpg" alt="t-apple" class="img-fluid"></div>
          <div class="col-md-8 info">
            <div class="info-wrapper">
              <h2>Apple Iphone X</h2>
              <p class="lead">
               The beautiful finishes of the back glass are achieved using an advanced process that allows for deep, rich colours.
              </p>
              <ul class="product-info list-unstyled">
                <li class="size">
                  <select title="Colors Available" class="selectpicker">
                    <option value="black">Black</option>
                    <option value="white">White</option>
                    <option value="yellow">yellow</option>
                    <option value="grey">Grey</option>
                  </select>
                </li>
                <li class="size">
             
                </li>
                <li class="price">Starting from 1000.00$</li>
              </ul>
            </div><a routerLink="/cart" class="add-to-cart btn btn-primary">Order Now <i class="icon-cart-1"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="container text-center">
        <h2 class="heading-center">Our Products</h2>
        <div class="owl-carousel owl-theme text-left products-slider">
          <div class="product">
            <div class="item-image"><img src="../assets/img/iphonexr.jpg" alt="apple" class="img-fluid mx-auto" style="height:200px;">
              <div class="hover-overlay">
            
              </div>
            </div>
            <div class="item-info">
              <div class="clearfix">
                <h5 class="pull-left">Iphone</h5><span class="price pull-right">370.00$-1500.00$</span>
              </div>
           
            </div>
          </div>
          <div class="product">
            <div class="item-image"><img src="../assets/img/ipad.jpg" alt="apple" class="img-fluid mx-auto" style="height:200px;">
              <div class="hover-overlay">
           
              </div>
            </div>
            <div class="item-info">
              <div class="clearfix">
                <h5 class="pull-left">ipad</h5><span class="price pull-right">400.00$-2000.00$</span>
              </div>
             
            </div>
          </div>
          <div class="product">
            <div class="item-image"><img src="../assets/img/iwatch.jpg" alt="apple" class="img-fluid mx-auto" style="height:200px;">
              <div class="hover-overlay">
         
              </div>
            </div>
            <div class="item-info">
              <div class="clearfix">
                <h5 class="pull-left">iwatch</h5><span class="price pull-right">200.00$-1000.00$</span>
              </div>
           
            </div>
          </div>
          <div class="product">
            <div class="item-image"><img src="../assets/img/macbook.jpg" alt="apple" class="img-fluid mx-auto" style="height:200px;">
              <div class="hover-overlay">
        
              </div>
            </div>
            <div class="item-info">
              <div class="clearfix">
                <h5 class="pull-left">Macbook</h5><span class="price pull-right">700.00$-2500.00$</span>
              </div>
         
            </div>
          </div>
       
        </div>
      </div>
    </section>

    <section style="background: url(../assets/img/divider-bg.jpg) no-repeat;" class="divider">
      <div class="overlay">
        <div class="container text-center">
          <h2>Limited Time Offer</h2>
          <h3>Get Apple Airpods with Iphone XR 256GB Variant</h3>
        </div>
      </div>
    </section>

    <section class="new-arrivals">
      <div class="container text-center">
        <h2 class="heading-center">Latest Launch</h2>
        <div class="items">
          <div class="row">
            <div class="col-lg-4 item">
              <div class="item-image"><img src="../assets/img/iphonexr.jpg" alt="apple">
                <div class="hover-overlay">
                 
                </div>
              </div>
              <div class="item-info">
                <h5>Iphone XR</h5>
                <ul class="price list-inline">
                  <li class="list-inline-item current">1270.00$</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 item">
              <div class="item-image"><img src="../assets/img/iphonexs.jpg" alt="apple">
                <div class="hover-overlay">
                 
                </div>
              </div>
              <div class="item-info">
                <h5>Iphone Xs</h5>
                <ul class="price list-inline">
                  <li class="list-inline-item current">1200.00$</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 item">
              <div class="item-image"><img src="../assets/img/iwatch.jpg" alt="apple" style="height:160px">
                <div class="hover-overlay">
                
                </div>
              </div>
              <div class="item-info">
                <h5>iWatch</h5>
                <ul class="price list-inline">
                  <li class="list-inline-item current">400.00$</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="contact-details text-center">
          <div class="row">
            <div class="col-sm-4">
              <div class="icon"><i class="icon-marker"></i></div>
              <div class="text">
                <p>Apple Store, California <br>USA</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon"><i class="icon-phone-1"></i></div>
              <div class="text">
                <p>+91 9876543212</p>
               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon"><i class="icon-mail-1"></i></div>
              <div class="text">
                <p><a href="mailto:support@applestore.com">Support@applestore.com</a></p>    </div>
            </div>
          </div>
        </div>
        <div class="social text-center">
        </div>
     
      </div>
     
    </footer>
  
    <div id="scrollTop"><i class="fa fa-angle-up"></i></div>

   
